@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bungee+Spice&family=Cal+Sans&family=Caprasimo&family=Coiny&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DM+Serif+Display:ital@0;1&family=Fascinate&family=Fascinate+Inline&family=Gelasio:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Cal+Sans&family=Caprasimo&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Fascinate+Inline&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body {
  font-family: 'Gelasio';
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(135deg, #245f8f 25%, #bfa332 75%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  font-weight: 500;
}

.header{
  margin-top: 5rem;
}

h1{
  position: relative;
  margin-bottom: 1rem;
  font-family: 'Bungee Spice';
  font-size: 4em;
} 

p{
  font-size: 1.4em;
  max-width: 80ch;
}

.nav{
  margin: 0.3rem;
}

.no_professional{
  font-size:1.5em;
  width: 65ch;
}

section{
  display: flex;
  flex-direction: column;
  gap:2rem;
}

section div{
  border: 2px solid rgb(0, 0, 0);
  padding: 2em;
  cursor: pointer;;
}

.hiddenBlock {
  display: none;
  border: none;
  margin-top: 0.5em;
  font-size: 0.95em;
  text-align: center;
  padding: 0.3em;
  font-size: 0.8em;
}

i{
  font-size: 1.7em;
  margin-left: 0.5em;
}

/*EFFETCS*/

.high_school:hover,
.softuni:hover{
  background-color: #FBD029;
  color: #2472B2;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.05); 
  transition: transform 0.4s ease;
}

.university:hover{
  background-color: #2472B2;
  color: #FBD029;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.05); 
  transition: transform 0.4s ease;
}

.active{
  background-color: none;
}

.hiddenUl{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 0.9rem;
}




