@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bungee+Spice&family=Cal+Sans&family=Caprasimo&family=Coiny&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=DM+Serif+Display:ital@0;1&family=Fascinate&family=Fascinate+Inline&family=Gelasio:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Cal+Sans&family=Caprasimo&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Fascinate+Inline&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


body {
  font-family: 'Gelasio';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(135deg, #245f8f 25%, #bfa332 75%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  font-weight: 500;
}
h1{
  position: relative;
  top: 10px;
  font-family: 'Bungee Spice';
  font-size: 4em;
  padding: 3rem;
}

.nav{
  margin: 0.3rem;
}

p{
  font-size: 1.4em;
  max-width: 80ch;
}
/* zoom in --------------------------------*/
.photo{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;

}

ul li img {
  width: 300px;           
  height: auto;           
  border-radius: 10px;    
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

ul li img:hover {
  transform: scale(1.05); 
  transition: transform 0.4s ease;
  cursor: pointer;
}

#lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  inset: 0; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.833);
  justify-content: center;
  align-items: center;
  overflow: hidden;  
}

#lightbox img {
  max-width: 90%;
  max-height: 110%;
  width: auto;
  height: auto;
  cursor: zoom-in;  
}

#lightbox.zoomed img {
  max-width: none;
  max-height: none;
  width: auto;              
  height: auto;
  cursor: zoom-out;
  display: block;
  margin: 0 auto;          
}

#lightbox.zoomed {
  align-items:flex-start;  
  justify-content: center;
  overflow:auto;           
}


#close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

#close:hover{
  font-size:2.2rem;
}
/* zoom in --------------------------------*/

/* slider -----------------------*/
/* .slider {
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
}

.slider-track {
  display: flex;
  gap: 1.5rem;
  animation: scroll 20s linear infinite;
}

.slider-track img {
  width: 250px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.slider-track:hover {
  animation-play-state: paused;
  transform: scale(1.05); 
  transition: transform 0.4s ease;
  cursor: pointer; 
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
} */
/* ----------------------------------------- */
