#backToTop {
    position: fixed;
    bottom: 3em;
    right: 4em;
    z-index: 999;
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

#backToTop img {
    width: 48px;
    height: 48px;
    padding: 0.5em;
    border-radius: 50%;
    background-color: #2472B2;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#backToTop img:hover {
    transform: scale(1.2);
    background-color: #796b34;
}

#backToTop:active img {
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.4);
    transform: scale(0.9);
}