@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Cal+Sans&family=Caprasimo&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Fascinate+Inline&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

header {
    display: flex;
    width: 100%;
    background-color: rgba(221, 221, 221, 0);
    background-size: contain;
    min-height: 30vh;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
    font-size: 4em;
    text-align: center;
    font-family: 'Bungee Spice';
    background: transparent;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 0.3em;
     min-height: calc(100vh - 60px);
}

footer {
    padding: 1em;
}